# This is my final Capstone Project notebook for the Data Science Certificate

In [27]:
import pandas as pd
import numpy as np
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

## Below you will find my code for the Segmenting and Clustering Neighborhoods in Toronto, Canada lab:

### Below code is for scraping the wiki table from the wiki link given in the lab:

In [28]:
# import additional libraries needed for BeautifulSoup
from bs4 import BeautifulSoup
import requests

wiki_url = 'https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&direction=prev&oldid=926287641'
req = requests.get(wiki_url)

soup = BeautifulSoup(req.content,'lxml')
table = soup.find_all('table')[0]
df = pd.read_html(str(table))
df = pd.DataFrame(df[0])
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

### Next I will remove 'Not assigned' rows form Borough column:

In [29]:
#remove 'Not assigned' rows from Borough column
df = df[df.Borough != 'Not assigned']
df

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M5A  Downtown Toronto               Regent Park
6        M6A        North York          Lawrence Heights
..       ...               ...                       ...
282      M8Z         Etobicoke  Kingsway Park South West
283      M8Z         Etobicoke                 Mimico NW
284      M8Z         Etobicoke        The Queensway West
285      M8Z         Etobicoke     Royal York South West
286      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

### Now I will combine the values with the same Postcode using the groupby function:

In [30]:
#combine values with the same Postcode using groupby function
df = df.groupby(['Postcode','Borough'],sort=False).agg(lambda x:','.join(x))
df.head(10)

                                             Neighbourhood
Postcode Borough
M3A      North York                              Parkwoods
M4A      North York                       Victoria Village
M5A      Downtown Toronto         Harbourfront,Regent Park
M6A      North York        Lawrence Heights,Lawrence Manor
M7A      Queen's Park                         Not assigned
M9A      Etobicoke                        Islington Avenue
M1B      Scarborough                         Rouge,Malvern
M3B      North York                        Don Mills North
M4B      East York          Woodbine Gardens,Parkview Hill
M5B      Downtown Toronto          Ryerson,Garden District

### Finally, I will retreive the shape of the final dataframe:

In [31]:
#to get the shape of the dataframe:
df.shape

(103, 1)

## Next I will add latitude and longitude columns to my dataframe from the CSV file provided in lab instructions

In [ ]:
#read csv file from url given in lab:
df_ll = pd.read_csv('http://cocl.us/Geospatial_data')
df_ll

In [ ]:
#rename Postal Code column in df_ll to match df
df_ll = df_ll.rename(columns={"Postal Code": "Postcode"})
df_ll

In [ ]:
#combine df_ll with df to get latitude and longitude values for each postcode:
df = df.merge(df_ll, on='Postcode', how='left')
df